<ion-view title="About" id="page6">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <img src="img/joeandbob.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    <div class="card aboutText">
    <p>
      The Pickle Pledge helps people change their lives by learning to see the opportunity in every adversity and by replacing learned helplessness with a spirit of initiative and self empowerment.
      <br/>
      <br/>
      The Pickle Challenge for Charity helps you promote a more positive, pleasant and productive workplace culture.
      Use this app to record your complaints when you don’t have a physical quarter to deposit into the Pickle Challenge for Charity pickle jar.
      <br/>
      <br/>
      This app uses the honor system and is absolutely anonymous – no one will ever know how many taps you recorded and whether or not you made a donation (or the amount of your donation if you do) to the designated charity.
    </p>
    </div>
  </ion-content>
</ion-view>
