<ion-view title="Sign Up" id="page7" style="background-color:default;">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content  class="has-header">

    <div class="card signup" ng-show="orgsReady">
      <div class="card-block">

        <form id="signup-form3" class="list" name='signup' novalidate>
          <div class="list">

            <label class="item item-input" id="signup-input7">
              <input type="text" name="Org" placeholder="Organization Name" ng-model="org" ng-required='true'>
            </label>

            <div class="padding">
                <p ng-show="signup.Org.$invalid && !signup.Org.$pristine">Please provide a valid name</p>
            </div>

            <div class="padding">
                <button type="button" class="button button-block button-balanced" ng-disabled="signup.$invalid" ng-click="submit(org)">
                  Add
                </button>
            </div>

          </div>
        </form>

      </div>
    </div>

  </ion-content>
</ion-view>
