
<ion-view title="Pickle Jar">

    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left" class="has-header">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

        <ion-side-menus>

            <ion-side-menu side="left">
                <ion-content>
                    <ion-list>
                        <ion-item>
                            {{$root.email}}<br/>
                            {{$root.org}}
                        </ion-item>
                        <ion-item ng-click="goToAbout()">
                            <i class = "icon icon ion-information-circled"> About</i>
                        </ion-item>
                        <ion-item ng-click="logout()">
                            <i class = "icon icon ion-log-out"> Logout</i>
                        </ion-item>
                    </ion-list>
                    <ion-item>
                        <h4>Logs</h4>
                    </ion-item>
                    <ion-list>
                        <ion-item collection-repeat="log in logs">
                           {{log.$id}} -
                            {{log.whine_fine}}
                        </ion-item>
                    </ion-list>
                </ion-content>

            </ion-side-menu>
            <ion-side-menu-content>

                <ion-view title="Pickle Jar" hide-back-button="true" id="page5">
                    <ion-content padding="true" class="has-header">
                        <h4 id="pickleJar-heading1" style="color:#000000;text-align:center;">{{date}}</h4>
                        <h4 id="pickleJar-heading3" style="color:#000000;text-align:center;">${{total}}</h4>
                        <div >
                            <img src="img/picklejar.png" style="display: block; width: 100%; height: 300px; margin-left: auto; margin-right: auto;">
                        </div>
                        <button id="pickleJar-button6" class="button button-balanced  button-block icon ion-cash" ng-click="addWhineFine()"> Deposit your 25-cent whine fine</button>
                    </ion-content>
                </ion-view>
            </ion-side-menu-content>

        </ion-side-menus>


</ion-view>

