<ion-view title="Pickle Jar" hide-back-button="true" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon No Icon"> About</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="pickleJar-heading1" style="color:#000000;text-align:center;">Week of Jan 25th</h4>
    <h4 id="pickleJar-heading3" style="color:#000000;text-align:center;">$ 3.75</h4>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="pickleJar-button6" class="button button-balanced  button-block icon ion-cash"> Deposit your 25-cent whine fine</button>
  </ion-content>
</ion-view>